In [1]:
#DATABASE ENGINEERING
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData, inspect
from sqlalchemy.ext.declarative import declarative_base as declarative_base_HM
from sqlalchemy.ext.declarative import declarative_base as declarative_base_HS
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date
from sqlalchemy.orm import * 
import datetime

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# Create an engine to database 
engine_HM = create_engine("sqlite:///cleaned_Hawaii_Measurements.sqlite")
engine_HS = create_engine("sqlite:///cleaned_Hawaii_Stations.sqlite")

In [4]:
conn_HM = engine_HM.connect()
conn_HS = engine_HS.connect()

In [5]:
Base_HM = declarative_base_HM()
Base_HS = declarative_base_HS()

In [7]:
class Measurement(Base_HM):
    __tablename__ = 'Measurement'

    m_id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Float)
    

    def __repr__(self):
        return f"id={self.m_id}, station={self.station}"

class Station(Base_HS):
    __tablename__ = 'Station'

    s_id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    

    def __repr__(self):
        return f"id={self.s_id}, station={self.station}"

In [8]:
Base_HM.metadata.create_all(engine_HM)

Base_HS.metadata.create_all(engine_HS)

In [10]:
inspector = inspect(engine_HS)
inspector.get_table_names()

['Station']

In [15]:
columns = inspector.get_columns('Measurement')
for column in columns:
    print(column["name"], column["type"])

In [16]:
# CSV file
csvfile = "cleaned_Hawaii_Measurements.csv"
csvfile_2 = "cleaned_Hawaii_Stations.csv"

In [17]:
df_HM = pd.read_csv(csvfile)
df_HS = pd.read_csv(csvfile_2)

In [27]:
df_HM['date'].values[0]

'2010-01-01'

In [28]:
#datetime.strptime(dataframe_HM['date'],'%Y-%m-%d')
date = [i for i in df_HM['date']]
dates = []
for i in date:
    dates.append((datetime.datetime.strptime(i,'%Y-%m-%d')).date())

In [29]:
df_HM.drop(['date'], axis = 1, inplace = True)

In [30]:
df_HM['date'] = dates

In [31]:
df_HM['date'].values[0]

datetime.date(2010, 1, 1)

In [32]:
data_HM = df_HM.to_dict(orient='records')
data_HM[0]

{'date': datetime.date(2010, 1, 1),
 'prcp': 0.08,
 'station': 'USC00519397',
 'tobs': 65}

In [18]:
data_HS = df_HS.to_dict(orient='records')
data_HS[0]

{'elevation': 3.0,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}

In [19]:
# Use MetaData from SQLAlchemy to reflect the tables
### BEGIN SOLUTION
metadata_HM = MetaData(bind=engine_HM)
metadata_HM.reflect()

In [20]:
# Use MetaData from SQLAlchemy to reflect the tables
### BEGIN SOLUTION
metadata_HS = MetaData(bind=engine_HS)
metadata_HS.reflect()

In [22]:
# Save the reference to the `demographics` table as a variable called `table`
### BEGIN SOLUTION
table_HM = sqlalchemy.Table('Measurement', metadata_HM, autoload=True)
### END SOLUTION

In [23]:
# Save the reference to the `demographics` table as a variable called `table`
### BEGIN SOLUTION
table_HS = sqlalchemy.Table('Station', metadata_HS, autoload=True)
### END SOLUTION

In [33]:
# Use `table.insert()` to insert the data into the table
### BEGIN SOLUTION
conn_HM.execute(table_HM.insert(), data_HM)
### END SOLUTION

In [34]:
# Use `table.insert()` to insert the data into the table
### BEGIN SOLUTION
conn_HS.execute(table_HS.insert(), data_HS)
### END SOLUTION

In [35]:
conn_HM.execute("select * from Measurement limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

In [36]:
conn_HS.execute("select * from Station limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]